.ryoko {
  align-items: stretch;
  background-color: $ryoko-background;
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: $ryoko-default-height;
  position: relative;
}

.ryoko-shade {
  background-color: rgba($ryoko-black, $ryoko-default-shade);
}

.ryoko-body {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: $ryoko-default-height;
}

.ryoko-faded {
  background-color: $ryoko-faded-background;
}

.ryoko-shadow {
  box-shadow: $ryoko-shadow;
}

@mixin make-ryoko-sizes($sizes: $ryoko-sizes) {
  @each $size in map-keys($sizes) {
    .ryoko-#{$size} {
      min-height: #{$size}vmin;
      .ryoko-body {
        min-height: #{$size}vmin;
      }
    }
  }
}

@include make-ryoko-sizes;

@mixin make-ryoko-shade($shades: $ryoko-shades) {
  @each $shade in map-keys($shades) {
    .ryoko-shade-#{$shade*100} {
      background-color: rgba($ryoko-black, $shade);
    }
  }
}

@include make-ryoko-shade;
