---
layout: bulma
title: Bulma
permalink: /frameworks/bulma
group: frameworks
---

{% include_relative bulma_example.html %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bulma css
            </h1>
            <h2 class="subtitle">
                Just an example using bulma css.
            </h2>
        </div>
    </div>
</section>
<br><br>
<div class="container">
    <h3 class="subtitle">Code</h3>
    {% highlight html %}{% include_relative bulma_example.html %}{% endhighlight %}

    <h3 class="subtitle">Check out other frameworks</h3>
    <ul>
        {% include list.html group=page.group %}
    </ul>
</div>