---
layout: material
title: Material design lite
permalink: /frameworks/material
group: frameworks
---

{% include_relative material_example.html %}
<div class="mdl-grid" id="content">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>Material design lite</h1>
        <p>Just a basic example, added a card in the header.</p>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3 class="subtitle">Code</h3>
        {% highlight html %}{% include_relative material_example.html %}{% endhighlight %}
    </div>
</div>